<% include header %>

	<div class="container" style="padding-top:10px; padding-bottom:10px;">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="title">DEC<span class="deconds-o">O</span>NDS</h1>
				<div class="mt-3"></div>
				<h3>For businesses, customers and staffs.</h3>
				<p>A smart appointment system to connect clients of small to medium sized businesses and systematic scheduling profile for employees.</p>
				<div class="mt-4"></div>
				
				<h4>Business</h4>
				<hr>
				<ul>
					<li>Manage your staffs and customers</li>
					<li>Import all your relations data with Deconds' built-in data integration feature</li>
					<li>Customize your business platform to your users</li>
					<li>Track how business is going!</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<img class="img-fluid" src="/images/bg1.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="mt-4"></div>
				<h4>Customer</h4>
				<hr>
				<ul>
					<li>Book an appointment with your favorite business</li>
					<li>Sign up for free and browse through different catalogues of businesses and services</li>
					<li>Never miss an appointment!</li>
				</ul>
			</div>
			<div class="col-sm-12">
				<img class="img-fluid" src="/images/bg2.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="mt-4"></div>
				<h4>Staff</h4>
				<hr>
				<ul>
					<li>Manage your appointments, reschedule meetings, etc.</li>
					<li>Calendar and email integration for reminder</li>
					<li>Maintain close working relations with your colleagues for emergency</li>
					<li>Direct communication and be more personal with your clients!</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<div class="mt-4"></div>
				<img class="img-fluid" src="/images/bg3.jpg">
			</div>
		</div>
		<div class="pb-5"></div>
	</div>

<% include footer %>