<% include header %>
	
	<div class="container" style="padding-top:10px; padding-bottom:10px;">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2>Thank You for Signing Up!</h2>
				<div class="mt-4"></div>
				Please check your email and activate your account to get started.
				<br><br>
				<img class="img-fluid" src="/images/thankyou.jpg" style="max-height:400px;">
			</div>
		</div>
	</div>
	
<% include footer %>