<div class="bg-light d-block d-md-none" style="position:absolute; top:0px;"><br>
	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link <%- page == '/staff_dashboard' ? 'active' : '' %>" href="/staff_dashboard">
				<span data-feather="home"></span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link <%- page == '/working_schedule' ? 'active' : '' %>" href="/working_schedule">
				<span data-feather="calendar"></span>
			</a>
		</li>
	</ul><br>
</div>